.topbar{
    width: 100%;
    height: 50px;
    background-color: white;
    /* remove todo o conteudo adicionado da top bar e insere na "main" deixando ela scrolavel */
    position: sticky; 
    top: 0;
    z-index: 9999;
}
.topbarWrapper{
    height:100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: darkblue;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.rightTop{
display: flex;
align-items: center;
}
.topbariconContainer{
    position:relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}
.topbarIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 5px;
    display:flex;
    color :white;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background-color: red;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}